<div>
    <h2>Create New Meeting</h2>
    <form [formGroup]="meetingForm">
      <div class="form-group">
        <label for="meetingTopic">Meeting Topic:</label><br>
        <input id="meetingTopic" formControlName="meetingTopic" required placeholder="Meeting Topic">
        <div *ngIf="meetingForm.get('meetingTopic')?.hasError('required')" class="error-message">Topic is required.</div>
      </div><br>
      
      <div class="form-group">
        <label for="Partcipants">Number of Participants:</label><br>
        <input id="Partcipants" formControlName="Partcipants" required placeholder="Number of Participants">
        <div *ngIf="meetingForm.get('Partcipants')?.hasError('required')" class="error-message">Participants number is required.</div>
      </div><br>

      
      <div class="form-group">
        <label for="MeetingDate">Meeting Date:</label><br>
        <input id="MeetingDate" formControlName="MeetingDate" type="date">
        <div *ngIf="meetingForm.get('MeetingDate')?.hasError('required')" class="error-message">Meeting Date is required.</div>
        
    </div><br>
  
    <div class="form-group">
        <label for="MeetingTime">Start Time:</label><br>
        <input id="MeetingTime" formControlName="MeetingTime" type="time">
        <div *ngIf="meetingForm.get('MeetingTime')?.hasError('required')" class="error-message">Start Time is required.</div>
        
    </div><br>

    <div class="form-group">
      <label for="MeetingEnd">End Time:</label><br>
      <input id="MeetingEnd" formControlName="MeetingEnd" type="time">
      <div *ngIf="meetingForm.get('MeetingEnd')?.hasError('required')" class="error-message">End Time is required.</div>
      
   </div>
      
    <br><br>
  
      <button (click)="createMeeting()" [disabled]="meetingForm.invalid" class="btn btn-primary">Create Meeting</button>
    </form>
  </div>
