<!-- <ul *ngFor="let product of products">>
    <li>Name:{{product.title}},Price: ${{product.price}}

    </li>
</ul> -->



<table border="1">
    <thead>
      <tr>
        <th>NAME</th>
        <th>PRICE</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.title }}</td>
        <td>${{ product.price }}</td>
        <td>
            <a [routerLink]="['/product', product.id]">Show Details</a>
          </td>
      </tr>
    </tbody>
  </table>